.card{
 padding: 50px;
 max-width: 400px;
 display: flex;
 justify-content: center;
 align-items: baseline;
 flex-direction: column;
}

.card h1{
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: left;
}

.card p{
	text-align: left;
}
